	{{#wrapped}}
		{{name}}
	{{/ wrapped}}

	{{#embiggened}}	
		{{name}}
	{{/ embiggened}}
	{{# colors }}
	 * {{ . }}
	{{/ colors }}
	
	
	<h1>Welcome, {{username}}
	{{^ username }}
	Guest
	{{/ username }}!

	</h1>
	