/* ----- CONTENT --------*/ 
#result {
    margin-left: 20px;
}
#result table td.center, th.center {
    vertical-align: middle;
    text-align: center;
}

#result table th{
    color: #fff;
    background: #5970b2;
}

div#result div#div-show{
    margin-top: 30px;
}
