<div id="result">
{{action}}

{{controller}}

{{model}}


<p>
{{message}} user {{username}}!!
</p>


<form accept-charset="{{charset}}" action="" method="POST">
	<p>
	Are you sure you want add {{model}} <b>{{#item}}{{name}}{{/item}}</b>?
	</p>
	
	<div class="well">
		<button class="btn large success" name="action" type="submit" value="yes">Yes</button>
		<button class="btn large error" name="action" type="submit" value="no">No</button>
	</div>
</form>







</div>