<div id="result">
{{action}}

{{controller}}

{{model}}


<p>
{{message}} user {{username}}!!
</p>


h{{headline}}h

<div class="well">
	{{#buttons}}
	<a class="btn {{class}}" href="{{url}}">{{text}}</a>
	{{/buttons}}
</div>











</div>