<div id="result">
{{action}}

{{controller}}

{{model}}


<p>
{{message}} user {{username}}!!!
</p>


h{{headline}}h

<div class="well">
	{{#buttons}}
	<a class="btn {{class}}" href="{{url}}">{{text}}</a>
	{{/buttons}}
</div>

{{result_count}}

{{#result}}
<form accept-charset="{{charset}}" action="{{action}}}" id="form" method="POST">
	<table class="table table-striped">
		<thead>
			<tr>				
				{{#columns}}
				<th>{{name}}</th>
				{{/columns}}
				<th></th>
			</tr>
		</thead>
		<tbody>	
			{{#rows}}
			<tr>
				
				{{#values}}
				<td>{{value}}</td>
				{{/values}}
				<td>
				{{#options}}
					<a class="{{class}}" href="{{url}}">{{text}}</a>
				{{/options}}
				
				</td>
			</tr>
			{{/rows}}
		</tbody>
	</table>
	<div class="clearfix">
	{{#buttons}}
	<a class="btn {{class}}" href="{{url}}">{{text}}</a>
	{{/buttons}} 
		
		<button class="btn primary" id="confirm_form" value="yes" type="submit">{{textSumbit}}</button>
		
	</div>
</form>
{{/result}}


{{# repo }}
  <b>{{ name }}</b>
{{/ repo }}
{{^ norepo }}
  No repos :(
{{/ norepo }}
	








</div>